<appSettings>
 <add key="Li-Apikey" value="755mysmmw301gi" />
 <add key="Li-Apisecret" value="h8RNJ2fmxyFtDXEI" />
 <add key="YAF.BoardID" value="1" />
 <add key="YAF.EnableURLRewriting" value="false" />
 <add key="YAF.UrlRewritingFormat" value="standard" />
 <add key="YAF.URLRewritingMode" value="Translit" />
 <add key="YAF.UseSMTPSSL" value="false" />
 <add key="YAF.DatabaseObjectQualifier" value="yaf_" />
 <add key="YAF.DatabaseOwner" value="dbo" />
 <add key="YAF.ProviderExceptionXML" value="ProviderExceptions.xml" />
 <add key="YAF.FileRoot" value="~/forum" />
 <add key="YAF.AppRoot" value="~/forum" />
 <add key="YAF.ProviderKeyType" value="System.Guid" />
 <add key="YAF.MobileUserAgents" value="iphone,ipad,midp,windows ce,windows phone,android,blackberry,opera mini,mobile,palm,portable,webos,htc,armv,lg/u,elaine,nokia,playstation,symbian,sonyericsson,mmp,hd_mini" />
 <add key="YAF.RadEditorSkin" value="Black" />
 <add key="YAF.UseRadEditorToolsFile" value="true" />
 <add key="YAF.RadEditorToolsFile" value="editors/radEditor/toolsFile.xml" />
 <add key="YAF.ConfigPassword" value="madpeasoup" />
 <add key="YAF.BaseUrlMask" value="http://localhost/AppChallenge/" />
 <add key="YAF.ConnectionStringName" value="ApplicationServices" />
</appSettings>
