<connectionStrings>
  <!-- Connection String for SQL Server 2005/2008 with Integrated Security -->
  <!--<add name="yafnet" connectionString="data source=(local);initial catalog=yafnet;integrated security=SSPI" providerName="System.Data.SqlClient" />-->

  <!-- Connection String for SQL Server 2005/2008 with Standard Security -->
  <!--<add name="yafnet" connectionString="Data Source=(local);Initial Catalog=yafnet;User ID=YOURUSER;Password=YOURPASSWORD" providerName="System.Data.SqlClient" />-->
    
  <!--Connection String for SQL Server 2005/2008 Express -->
  <!--<add name="yafnet" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|ASPNETDB.mdf;" providerName="System.Data.SqlClient"/>-->
  <add name="ApplicationServices" connectionString="Data Source=ddng0vrt58.database.windows.net;Initial Catalog=osuappcAOoef01Wd;Persist Security Info=True;User ID=appchallenge;Password=Meehan99"
        providerName="System.Data.SqlClient" />
  
</connectionStrings>