<connectionStrings>
  <!-- Connection String for SQL Server 2005/2008 with Integrated Security -->
  <!--<add name="yafnet" connectionString="data source=(local);initial catalog=yafnet;integrated security=SSPI" providerName="System.Data.SqlClient" />-->

  <!-- Connection String for SQL Server 2005/2008 with Standard Security -->
  <!--<add name="yafnet" connectionString="Data Source=(local);Initial Catalog=yafnet;User ID=YOURUSER;Password=YOURPASSWORD" providerName="System.Data.SqlClient" />-->
    
  <!--Connection String for SQL Server 2005/2008 Express -->
  <add name="yafnet" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|ASPNETDB.mdf;" providerName="System.Data.SqlClient"/>
  <add name="ApplicationServices" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\cygwin64\home\Mavid\App-Challenge-Web\ASPwebsite\AppChallenge\App_Data\ASPNETDB.MDF;Integrated Security=True;User Instance=True"
        providerName="System.Data.SqlClient" />
  
</connectionStrings>